<header>
    <div class="main-headers">
        <div class="container">
            <div class="header-flex">
                <div class="hamburger-mainmenu">
                    <nav class="nav">
                        <button class="toggle-menu">
                            <span></span>
                        </button>
                    </nav>
                </div>
                <div class="headers-logo">{{ 'sitelogo.png' | asset_url | img_tag: 'Logo' }}</div>
                <div class="cartbtn-menu">{{ 'cartlogo.png' | asset_url | img_tag: 'CartLogo' }}</div>
            </div>
        </div>
        <div id="menu" class="">
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            CATALOG
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</header>