<section class="standalone-videoin">
    <div class="video-wrapper">
        <video src="https://devlr72.2bedigital.com/webdav/beon-digital-cruz-roja/document_library/Videos/cruz-roja.mp4"
            poster="https://devlr72.2bedigital.com/documents/39233/0/empleo2.png"></video>
    </div>
</section>