/* Reset CSS Here */

* {
    outline: none !important;
}

body {
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2,
h3,
h4 {
    color: #242424;
}
h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}
h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}
h3 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}
h4 {
    font-family: "Playfair Display", serif;
    font-size: 21px;
    letter-spacing: 0.15px;
    line-height: 30px;
}

p {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4a4a4a;
}

span {
    font-family: "Quattrocento Sans", sans-serif;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 23px;
}

img {
    width: 100%;
    height: auto;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.fill-btn {
    height: 50px;
    outline: none;
    border: 0;
    font-family: "Quattrocento Sans", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.17em;
    text-align: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s;
    border-radius: 4px;
    background: #3c5629;
    padding-left: 32px;
    padding-right: 32px;
}
.fill-btn:hover {
    border-radius: 4px;
    color: #ffffff;
    background-color: #0e959b;
    text-decoration: none;
    transition: all 0.3s;
}

header {
    height: 60px;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 940px;
    margin: auto;
}

#menu {
    background: #de4152;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 60;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
}
#menu.open {
    opacity: 1;
    visibility: visible;
}
#menu.open li:nth-child(1) {
    animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
    animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
    animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
    animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
    animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
    animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
    animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
    animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
    animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
    animation-delay: 1s;
}
#menu.open li {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
#menu ul:hover a {
    opacity: 0.5;
}
#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
    opacity: 1;
}
#menu .main-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#menu .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu .main-nav a {
    color: #fff;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#menu .main-nav a:first {
    padding-top: 0;
}
#menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
#menu .menu-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu .menu-footer ul li {
    display: inline;
    margin: 0 1rem;
}
#menu .menu-footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    z-index: 1110;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-menu span {
    background-color: #242424;
    content: "";
    display: block;
    height: 2px;
    /* left: calc(50% - 13px); */
    position: absolute;
    /* top: calc(50% - 1px); */
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 24px;
}
.toggle-menu span:before,
.toggle-menu span:after {
    background-color: #242424;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 24px;
}
.toggle-menu span:before {
    top: 7px;
}
.toggle-menu span:after {
    top: -7px;
}
.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}
.toggle-menu.active span:before,
.toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}

/* Banner Sections CSS */

section.bg-imagebanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 789px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.banner-contents h1 {
    color: #fff;
    margin-bottom: 56px;
}

/* Product Info Section CSS */

section.product-info-in {
    padding-top: 62px;
    padding-bottom: 62px;
}

section.product-info-in img {
    width: 320px;
    height: 320px;
    object-fit: contain;
}

/* Video Section CSS */

section.standalone-videoin video[poster] {
    height: 100%;
    width: 100%;
}

section.standalone-videoin .video-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section.standalone-videoin .video-wrapper > video {
    width: 100%;
    vertical-align: middle;
    height: 100vh;
}

section.standalone-videoin .video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

section.standalone-videoin .video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

section.standalone-videoin .video-overlay-play-button:hover {
    opacity: 1;
}

section.standalone-videoin .video-overlay-play-button.is-hidden {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
